// landing page:
$padding: 0 8.438rem;
$p-10: 2.5rem; // 40px

// colors:
$primary: #ff7433;
$primary-variant: #f1dbc4;
$background: #fff5ec;
$background-inverse: #181716;

// fonts:
$orbitron: "Orbitron", sans-serif;
$open-sans: "Open Sans", sans-serif;

// font size:
@mixin headline2 {
    font-size: 50px;
    font-family: $orbitron;
}

$headline5: 24px;

@mixin headline6 {
    font-size: 18px;
    font-family: $open-sans;
}
